.newsletter {
    position: relative;
    padding: $spacing*7 0;
    background-size: cover;
    background-position: center;
    color: $white;
    &::before {
        content: '';
        background-color: $black;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        opacity: .5;
    }
    .container {
        position: relative;
        z-index: 1;
    }
    .divider {
        text-align: center;
        margin-bottom: 10px;
    }
}